@{
    ViewData["Title"] = "รายการบิล";
}

<div class="text-center">
    <h1>รายการบิล</h1>
</div>

<div class="text-center">
    <label>วันที่เริ่มต้น :</label>&nbsp;<input type="date" id="startdate">&nbsp;
    <label>วันที่สิ้นสุด :</label>&nbsp;<input type="date" id="enddate">&nbsp;
    <label>หมายเลขบิล :</label>&nbsp;<input type="text" id="bill">&nbsp;
    <input type='button' value='ค้นหา' id='myButton' onClick='show_and_search_bill()' />&nbsp;
    <input type='button' value='เพิ่มบิล' id='myButton' onClick='Add_Bill()' />
    <br>
    <br>
    <table border="1" id="Mytable">
        <thead>
            <tr>
                <th> วันที่ </th>
                <th> หมายเลขบิล </th>
                <th> ราคาทั้งหมดก่อนลดราคา </th>
                <th> ลดราคาทั้งหมด </th>
                <th> ราคาทั้งหมดหลังลดราคา </th>
                <th> รายละเอียด </th>
            </tr>
        </thead>
        <tbody id="body1">
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        show_and_search_bill();
    });

    function show_and_search_bill() {
        const bill = document.getElementById('bill').value;
        const startdate = document.getElementById('startdate').value;
        const enddate = document.getElementById('enddate').value;
    //    console.log(date)
        const obj = { NumberBill: bill, startdate: startdate, enddate: enddate}
        axios({
            method: 'post',
            url: '/Transaction/Get_Listbill',
            data: obj,
        })
            .then(function (response) {
                console.log(response);
                let table="";
                response.data.forEach(function (element) {
  @*                  const date = element.dateformate;
                    const subYear = date.substr(date.lastIndexOf("/") + 1);
                    const subDateMonth = date.substr(0, date.search(subYear))
                    const convertInt = parseInt(subYear)
                    const yearEn = convertInt - 543;
                    const DateEn = subDateMonth + yearEn;*@
                    table += '<tr>';
                    table += '<td>' + element.dateformate + '</td>';
                    table += '<td>' + element.numberBill + '</td>';
                    table += '<td>' + element.priceBefore.toFixed(2) + '</td>';
                    table += '<td>' + element.totalDiscount.toFixed(2) + '</td>';
                    table += '<td>' + element.priceAfter.toFixed(2) + '</td>';
                    table += '<td><input type="button" name="detail" onClick="Detail_Bill('+element.idBill+')" value="รายละเอียด"></td>';
                    table += '</tr>';
                });
                document.getElementById("body1").innerHTML = table;
            })
            .catch(function (error) {
                console.log(error);
            });

    }
</script>
<style>
    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }

        table th {
            height: 50px;
        }
</style>