@{
    ViewData["Title"] = "เพิ่มหน่วยสินค้า";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <br><br>

    <label>ชื่อหน่วย : </label>
    <input type="text" value="" id="add_unit">
    <input type='button' value='บันทึก' id='myButton' onclick="Save()" /><br>
    <span style="color:red;" id="validate_add_unit"></span>

</div>





