@using Shop.ViewModels
@model GetdatabillViewmodel

@{
    ViewData["Title"] = "เพิ่มบิล";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <input type='button' value='เพิ่มรายการ' id='add_bill' />
    <table border="1" class="center">
        <thead>
            <tr>
                <th> ชื่อสินค้า </th>
                <th> หน่วย </th>
                <th> ราคา/หน่วย </th>
                <th> จำนวน </th>
                <th> ราคารวม </th>
                <th> ส่วนลด </th>
                <th> ราคารวมหลังส่วนลด </th>
            </tr>
        </thead>
        <tbody id="table_add_bill">
            @*<tr>
                <td>
                    <select name="name_product" id="select_product" onchange="Data_product();">
                        <option id="select">เลือกสินค้า</option>

                        @{
                            foreach (var data in Model)
                            {
                                <option value="@data.IdProduct">@data.ProductName</option>
                            }
                        }
                    </select>
                </td>
                <td id="unit"></td>
                <td id="price"></td>
                <td><input type="number" value=" " id="count" onkeyup="Data_product()"></td>
                <td id="total"></td>
                <td><input type="number" value=" " id="discount" onkeyup="Data_product()"></td>
                <td id="last_total"></td>
            </tr>*@

        </tbody>
    </table>


</div>
<style>
    table {
        width: 100%;
        height: 50px;
    }

        table th {
            height: 50px;
        }

        table td {
            height: 40px;
        }
</style>





