@{
    ViewData["Title"] = "แก้ไขหน่วยสินค้า";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <br><br>
    <label>ชื่อหน่วย : </label>
    @{ foreach (var data in Model)
        {
            <input type="text" id="unitEdit" value="@data.NameUnit">
            <input type='button' value='บันทึก' id='myButton' onclick='Update(@data.IdUnit)' />
        }
    }

</div>






