@using Shop.UnitViewModels
@model UnitviewModel

@{
    ViewData["Title"] = "รายการหน่วยสินค้า";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <input type='button' value='เพิ่มหน่วยสินค้า' id='myButton' onClick='Add_Unit()' />
    <br>
    <br>
    <table border="1" class="center">
        <thead>
            <tr>
                <th> ชื่อหน่วย </th>
                <th> เครื่องมือ </th>
            </tr>
        </thead>
        <tbody>

                    @foreach (var data in Model.getUnit)
                    {
                        <tr>
                            <td>@data.NameUnit</td>
                            <td>
                                <input type='button' value='แก้ไข' id='myButton' onClick='Edit_Unit(@data.IdUnit)' />&nbsp;
                                <input type="button" name="delete" onClick='Delete_Unit(@data.IdUnit)' value="ลบ">
                            </td>
                        </tr>
                    }
                
            
        </tbody>
    </table>

</div>
<script>
    function Edit_Unit(id) {
        const obj = { IdUnit: id }
        axios({
            method: 'post',
            url: '/Unit/Check_Edit_Unit',
            data: obj
        })
            .then(function (response) {
                console.log(response.data.status);
                if (response.data.status == "Success") {
                    document.location = 'Get_Edit_Unit/?id=' + response.data.id;
                } else {
                    alert("ข้อมูลนี้ถูกลบไปแล้ว")
                    window.location.reload();
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function Delete_Unit(id) {
        const obj = { IdUnit: id }
        axios({
            method: 'post',
            url: '/Unit/Delete',
            data: obj
        })
            .then(function (response) {
                console.log(response);
                if (response.data == "Seccess") {
                    alert("ลบข้อมูลสำเร็จ")
                    window.location.reload();
                } else {
                    alert("ข้อมูลนี้ถูกลบไปแล้ว")
                    window.location.reload();
                }
            })
            .catch(function (error) {
                console.log(error);
            });


    }
</script>

<style>
    table {
        width: 50%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    tr {
        height: 50px;
    }
</style>




